@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: carbonLight --default, carbonDark;
}

@plugin "daisyui/theme" {
    name: "carbonLight";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(97% 0.001 106.424);
    --color-base-300: oklch(92% 0.003 48.717);
    --color-base-content: oklch(14% 0.004 49.25);
    --color-primary: oklch(37% 0.077 168.94);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(59% 0.145 163.225);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: oklch(84% 0.143 164.978);
    --color-accent-content: oklch(14% 0.004 49.25);
    --color-neutral: oklch(37% 0.01 67.558);
    --color-neutral-content: oklch(100% 0 0);
    --color-info: oklch(54% 0.245 262.881);
    --color-info-content: oklch(100% 0 0);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-content: oklch(100% 0 0);
    --color-warning: oklch(90% 0.182 98.111);
    --color-warning-content: oklch(28% 0.066 53.813);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(25% 0.092 26.042);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1.5px;
    --depth: 1;
    --noise: 0;
  }

  @plugin "daisyui/theme" {
    name: "carbonDark";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(30.857% 0.023 264.149);
    --color-base-200: oklch(28.036% 0.019 264.182);
    --color-base-300: oklch(26.346% 0.018 262.177);
    --color-base-content: oklch(100% 0 0);
    --color-primary: oklch(39% 0.07 227.392);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(60% 0.126 221.723);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: oklch(86% 0.127 207.078);
    --color-accent-content: oklch(30% 0.056 229.695);
    --color-neutral: oklch(24.731% 0.02 264.094);
    --color-neutral-content: oklch(100% 0 0);
    --color-info: oklch(54% 0.245 262.881);
    --color-info-content: oklch(100% 0 0);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-content: oklch(100% 0 0);
    --color-warning: oklch(90% 0.182 98.111);
    --color-warning-content: oklch(17.232% 0.028 94.818);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(16.483% 0.019 33.756);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1.5px;
    --depth: 1;
    --noise: 0;
  }
  